/dist
/node_modules
/database/database.sqlite
/public/hot
/public/storage
/public/js
/public/css
/public/img
/public/flags
/public/fonts
/public/webfonts
/public/scss
/public/assets
/public/svg
/public/icons
/public/public
/storage/*.key
/vendor
/app/documents/cases/*
.env
.env.backup
package-lock.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.phar

# release
/coreui-pro-laravel-admin-template*.zip
composer.lock
.env.example
public/documents/cases/

/.vs
public/app/documents/
ProjectName/config/app.php
ProjectName/config/auth.php
ProjectName/config/broadcasting.php
ProjectName/config/cache.php
ProjectName/config/cors.php
ProjectName/config/database.php
ProjectName/config/filesystems.php
ProjectName/config/hashing.php
ProjectName/config/logging.php
ProjectName/config/mail.php
ProjectName/config/queue.php
ProjectName/config/sanctum.php
ProjectName/config/services.php
ProjectName/config/session.php
ProjectName/config/view.php
ProjectName/database/.gitignore
ProjectName/database/factories/UserFactory.php
ProjectName/database/migrations/2014_10_12_000000_create_users_table.php
ProjectName/database/migrations/2014_10_12_100000_create_password_resets_table.php
ProjectName/database/migrations/2019_08_19_000000_create_failed_jobs_table.php
ProjectName/database/migrations/2019_12_14_000001_create_personal_access_tokens_table.php
ProjectName/database/seeders/DatabaseSeeder.php
ProjectName/lang/en/auth.php
ProjectName/lang/en/pagination.php
ProjectName/lang/en/passwords.php
ProjectName/lang/en/validation.php
ProjectName/public/.htaccess
ProjectName/public/favicon.ico
ProjectName/public/index.php
ProjectName/public/robots.txt
ProjectName/resources/css/app.css
ProjectName/resources/js/app.js
ProjectName/resources/js/bootstrap.js
ProjectName/resources/views/welcome.blade.php
ProjectName/routes/api.php
ProjectName/routes/channels.php
ProjectName/routes/console.php
ProjectName/routes/web.php
ProjectName/storage/app/.gitignore
ProjectName/storage/app/public/.gitignore
ProjectName/storage/framework/.gitignore
ProjectName/storage/framework/cache/.gitignore
ProjectName/storage/framework/cache/data/.gitignore
ProjectName/storage/framework/sessions/.gitignore
ProjectName/storage/framework/testing/.gitignore
ProjectName/storage/framework/views/.gitignore
ProjectName/storage/logs/.gitignore
ProjectName/tests/CreatesApplication.php
ProjectName/tests/TestCase.php
ProjectName/tests/Feature/ExampleTest.php
ProjectName/tests/Unit/ExampleTest.php
composer.json
composer.lock
env
ProjectName/.editorconfig
ProjectName/.gitattributes
ProjectName/.gitignore
ProjectName/.styleci.yml
ProjectName/artisan
ProjectName/composer.json
ProjectName/package.json
ProjectName/phpunit.xml
ProjectName/README.md
ProjectName/vite.config.js
ProjectName/app/Console/Kernel.php
ProjectName/app/Exceptions/Handler.php
ProjectName/app/Http/Kernel.php
ProjectName/app/Http/Controllers/Controller.php
ProjectName/app/Http/Middleware/Authenticate.php
ProjectName/app/Http/Middleware/EncryptCookies.php
ProjectName/app/Http/Middleware/PreventRequestsDuringMaintenance.php
ProjectName/app/Http/Middleware/RedirectIfAuthenticated.php
ProjectName/app/Http/Middleware/TrimStrings.php
ProjectName/app/Http/Middleware/TrustHosts.php
ProjectName/app/Http/Middleware/TrustProxies.php
ProjectName/app/Http/Middleware/VerifyCsrfToken.php
ProjectName/app/Models/User.php
ProjectName/app/Providers/AppServiceProvider.php
ProjectName/app/Providers/AuthServiceProvider.php
ProjectName/app/Providers/BroadcastServiceProvider.php
ProjectName/app/Providers/EventServiceProvider.php
ProjectName/app/Providers/RouteServiceProvider.php
ProjectName/bootstrap/app.php
composer.json
composer.lock
ProjectName/bootstrap/cache/.gitignore
ProjectName/storage/app/.gitignore
ProjectName/storage/app/public/.gitignore
ProjectName/storage/framework/cache/.gitignore
ProjectName/storage/framework/cache/data/.gitignore
ProjectName/storage/framework/sessions/.gitignore
ProjectName/storage/framework/testing/.gitignore
ProjectName/storage/framework/views/.gitignore
ProjectName/storage/logs/.gitignore
composer.json
composer.lock
